*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#letras{
    display: grid;
    grid-template-columns: repeat(5,100px);
    background-color: rgb(242, 241, 241);
    border-radius: 10px;
    padding: 10px;
}

a{
    color: black;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

a:hover{
    color: white;
    background-color: rgb(83, 76, 76);
    transition: 0.3s;
}



#datos{
    margin: 5px;
    font-size: 16px;
}

/*Pagina con la Letra R*/

#mainR , #mainS, #mainA,#mainJ,#mainD{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#headerR, #headerS,#headerA,#headerJ,#headerD{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-size: 12px;
    background-color: rgb(139, 136, 136);
    color: rgb(242, 241, 241);
}

#sectionR, #sectionS,#sectionA,#sectionJ,#sectionD{
    padding: 20px;
    background-color: rgb(255, 242, 227);

}

ol li {
    margin: 10px;
}
img{
    width: 50%;
    height: auto;
}

#regresar{
    padding: 10px;
    border-radius: 10px;
}

#regresar a{
    border: none;
}

#footerR , #footerS,#footerA,#footerJ,#footerD{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(139, 136, 136);
}

/*Pagina con la Letra S*/
#headerS, #footerS{
    background-color: salmon;
}

#sectionS{
    background-color: rgb(217, 190, 92);
}
/*Pagina con la letra A*/
#headerA, #footerA{
    background-color: darksalmon;
}
#sectionA{
    background-color: aquamarine;
}
/*Pagina con la letra J*/
#headerJ,#footerJ{
    background-color: lightpink;
}
#sectionJ{
    background-color: greenyellow;
}
/*Pagina de la letra D*/
#headerD,#footerD{
    background-color: palevioletred;
}
#sectionD{
    background-color: lightyellow;
}